/*сброс настроек*/
.list {
  list-style: none;
}
/* root  */
:root {
  --link-color: #000000;
  --prim-text-color: #757575;
  --titl-text-color: #212121;
  --title-background-color: #2f303a;
  --hover-color: #ffffff;
  --focus-color: #2196f3;
  --foter-meil-color: rgba(255, 255, 255, 0.6);
}

.body {
  font-family: roboto, sans-serif;
  background-color: var(--hover-color);
  color: var(--prim-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* верхня лінія */
.logo {
  color: var(--focus-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-studio {
  color: var(--link-color);
}
/* навігація по сторінкам */
.pagination {
  font-weight: 500;
}
.link-current {
  color: var(--focus-color);
}
.pagination .link {
  color: var(--titl-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}
.link:hover {
  color: var(--focus-color);
}
.link:focus {
  color: var(--focus-color);
}

/* <!-- meil and tel --> */
.mail-tel a {
  color: var(--prim-text-color);
  font-weight: 500;
  text-decoration: none;
}
.mail:hover {
  color: var(--focus-color);
}
.mail:focus {
  color: var(--focus-color);
}
.tel:hover {
  color: var(--focus-color);
}
.tel:focus {
  color: var(--focus-color);
}
/* головний напис */

.title {
  color: var(--hover-color);
  background-color: var(--title-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  cursor: pointer;
  color: var(--hover-color);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* наші переваги */
.invisible {
  visibility: hidden;
}
.subtitle {
  color: var(--titl-text-color);
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
}
.work-subtitle {
  color: var(--titl-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.text {
  line-height: 1.71;
}

/* наша робота */
.work {
}
/* наша команда */
.team {
}
.staff {
  color: var(--titl-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.job-title {
  font-size: 16px;
  line-height: 1.2;
}

/* footer */
.footer {
  background-color: var(--title-background-color);
}
.footer-studio {
  color: var(--hover-color);
  letter-spacing: 0.03em;
}
.footer-str {
  line-height: 1.71;
  color: var(--hover-color);
}
.footer-mail {
  line-height: 1.71;
  color: var(--foter-meil-color);
  text-decoration: none;
}
.tel-footer {
  line-height: 1.71px;
  color: var(--foter-meil-color);
  text-decoration: none;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--focus-color);
}
.tel-footer:hover,
.tel-foooter:focus {
  color: var(--focus-color);
}

/* сторінка-2 */

/* <!-- navigation button--> */
.btn {
  background-color: rgba(245, 244, 250, 1);
  /* var(--titl-text-color); */
}
.btn:hover,
.btn:focus {
  color: var(--hover-color);
  background-color: var(--focus-color);
}
.btn {
  cursor: pointer;
}
/* examples of work */
.portfolio-subtitle {
  color: var(--titl-text-color);
  /* font-weight: 700; */
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}
